div.dataTables_info 
{
    padding-top: 8px;
    white-space: nowrap;
}

div.dataTables_paginate
{
    margin: 0;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_paginate ul.pagination
{
    margin: 2px 0;
    white-space: nowrap;
}

table.dataTable thead .asc:after
{
    content: "\e155";
}
